* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	color: #5d5d5d;
	text-align: center;
}

h1 {
	margin: 16px 1em;
}

input::placeholder {
	color: #9f9f9f;
}

.container {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
	/* align-content: center; */
	max-width: 600px;
	min-width: 300px;
}

.container .search-bar {
	font-weight: 600;
	margin: 16px 1em;
	display: flex;
}

.container .search-bar .search-name {
	width: 100%;
	border: 1px solid #f2f2f2;
	padding: 6px;
	color: #5d5d5d;
}

.container .search-bar button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	background: none;
	margin: 0 0.5em;
}

/* .container .search-bar button:hover {
	background-color: cornflowerblue;
} */

.submit-icon {
	height: 16px;
	/* cursor: pointer; */
	margin-right: 0;
}

.container .display-container {
	background-color: aliceblue;
	/* min-width: 300px;
	max-width: 600px; */
	margin: 16px 1em;
	display: flex;
	flex-direction: column;
}

.container .display-container .profile-header-wraper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.container .display-container .profile-header-wraper .avatar {
	margin: 16px 1em;
}

.container .display-container .profile-header-wraper .data {
	margin: 16px 1em;
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	align-items: flex-start;
	align-content: flex-start;
}

.container .display-container .profile-header-wraper .data .name {
	font-size: 2em;
	/* margin-bottom: 0.5em; */
}
.container .display-container .profile-header-wraper .data .user {
	font-size: 1em;
	color: rgb(91, 134, 48);
	margin-bottom: 0.5em;
}
.container .display-container .profile-header-wraper .data .date {
	font-size: 1em;
	margin-bottom: 0.5em;
}

.container .display-container .profile-wraper {
	background-color: #e3f0c5;
	margin: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container .display-container .profile-wraper .stat-cel {
	/* width: 40%; */
	margin: 16px 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.container .display-container .profile-wraper .username {
	color: green;
}
